@using Microsoft.AspNetCore.Identity
@inject SignInManager<UserGame> SignInManager

@{
	ViewData["Title"] = "Home Page";
}

@{

	if (!SignInManager.IsSignedIn(User))
	{
		<div class="alert alert-warning alert-dismissible fade show" role="alert">
			<strong>Only for authorized users </strong> Please, sing in
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
	}
}
<script type="text/javascript">
	$('.alert').alert()
</script>
