@{
	ViewData["Title"] = "Your move";
}
@model string[]

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>

<h3>Please make your move</h3>


<form>
	<div class="form-check mb-3">
		<tbody>
			@for (int i = 0; i < Model.Length; ++i)
		{
			<div class="form-check form-check-inline">
				<input class="form-check-input form-control-lg " type="checkbox" name="btSelectItem" data-index="@i" data-id="@ViewBag.IdGame">
				<label class="form-check-label form-control-lg" for="inlineCheckbox1">@Model[i]</label>
			</div>
		}
		</tbody>
	</div>
	<div class="row mb-3 ">
		<button class="btn btn-primary">Confirm</button>
	</div>	
</form>


<script>
	$('.btn').click(function () {		
		$("input[type='checkbox']:checked").each(function () {
			console.log("tyt");
			var list = new Array();
			var step = "data-index";
			var idGame = "data-id";
			var checkbox = $('input[name="btSelectItem"]:checked');
			var numStep = checkbox.attr(step);
			var id = checkbox.attr(idGame);
			list.push(numStep)
			list.push(id);
			
			$.post({
				url: '/Home/Play',
				contentType: 'application/json',
				data: JSON.stringify(list),
			}).done(function (url) {
				window.location.href = url;
			});
		});
	});




</script>